
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');


body {
    background-color: var(--tea-green);
}


:root {
    --eggshell: #faf3ddff;
    --tea-green: #c8d5b9ff;
    --cambridge-blue: #8fc0a9ff;
    --verdigris: #68b0abff;
    --viridian: #4a7c59ff;
}

#app{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#calculator{
    background-color: var(--eggshell);
    padding: 1rem;
    border-radius: 10px;
    width: 20rem;
    box-shadow: rgba(54, 54, 54, 0.705) 0px 2px 8px 0px;
}

#display{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 6rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    background-color: var(--verdigris);
   

}

#displayNumbers{
    padding: 10px;
    font-size: 20px;
    color: white;
}

#displayResult{
    padding: 10px;
    font-size: 30px;
    color: white;
}

#buttons{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.button-row{
    display: flex;
     justify-content: space-between;
}

.button,.operator{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: var(--eggshell);
    border: solid 1px rgba(128, 128, 128, 0.459);
    font-size: 18px;
    opacity: 80%;
    cursor: pointer;
    
}

.operator{
    background-color: var(--verdigris);
    color: white;
}

.operator:hover{
    background-color: rgb(88, 159, 168);
}

.button:hover{
    background-color: rgba(221, 215, 196, 0.644);
}

.expandable{
    flex-grow: 1;
 
}